* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.links-hover {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  border-bottom: 2px solid #189a46;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.links-hover:hover {
  color: #189a46;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 2.5rem;
  width: 100%;
  z-index: 2020;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
}

.header .container h1 {
  color: #189a46;
}

.header .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .navbar .active {
  color: #189a46;
}

.header .container .navbar a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  font-weight: 400;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .container .navbar .link::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #189a46;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: block;
  bottom: 0;
}

.header .container .navbar .link:hover::after {
  width: 100%;
}

.header .container .navbar .link:hover {
  color: #189a46;
}

.carousel .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - 40px);
  position: relative;
  text-transform: capitalize;
}

.carousel .item .text {
  position: absolute;
  bottom: 40%;
  right: 58%;
  left: 15%;
}

.carousel .item .text h1 {
  color: #fff;
  font-size: 4rem;
}

.carousel .item .text p {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.carousel .item .text .links a {
  padding: 14px 36px;
  background-color: transparent;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 12px;
  margin-right: 8px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.carousel .item .text .links a:nth-child(1) {
  background-color: #fff;
  color: #189a46;
}

.carousel .item .text .links a:nth-child(2):hover {
  color: #189a46;
  background-color: #fff;
}

.carousel .item::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  background-color: #0c0c0c;
  opacity: 0.6;
}

.carousel .item1 {
  background-image: url(../../img/home/banner1.jpg);
}

.carousel .item2 {
  background-image: url(../../img/home/banner2.jpg);
}

.carousel .item2 .text {
  left: 40%;
  right: 24%;
}

.carousel .item3 {
  background-image: url(../../img/home/banner3.jpg);
}

.carousel .item4 {
  background-image: url(../../img/home/banner4.jpg);
}

.carousel .item4 .text {
  left: 40%;
  right: 24%;
}

.carousel .owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30px;
}

.carousel .owl-dots .owl-dot.active span,
.carousel .owl-dots .owl-dot:hover span {
  background-color: #189a46;
}

.carousel .owl-dots .owl-dot.active span,
.carousel .owl-dots .owl-dot:hover span {
  width: 30px;
}

.abouts .container {
  padding: 6rem 17rem;
  text-align: center;
}

.abouts .container h4 {
  color: #f53626;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.abouts .container h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.abouts .container p {
  color: #696969;
  line-height: 1.8rem;
  margin-bottom: 20px;
}

.services {
  background-color: rgba(147, 107, 232, 0.05);
  padding: 90px 0;
}

.services .container .row {
  margin: -15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .container .row .col {
  width: calc(100% / 3);
  margin-bottom: 30px;
  padding: 0 15px;
}

.services .container .row .col .item {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.services .container .row .col .item i {
  color: #189a46;
  font-size: 2rem;
  margin-bottom: 20px;
}

.services .container .row .col .item h3 {
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.services .container .row .col .item h3:hover {
  color: #189a46;
}

.services .container .row .col .item p {
  margin-bottom: 20px;
  color: #696969;
  line-height: 28px;
}

.services .container .row .col .item:hover {
  background: rgba(147, 107, 232, 0.05);
}

.offer .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6rem 0;
}

.offer .container .row .col {
  width: 50%;
  padding: 0 1rem;
}

.offer .container .row .col .item img {
  width: 100%;
  border-radius: 10px;
}

.offer .container .row .col .item1 {
  padding-left: 2rem;
}

.offer .container .row .col .item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding-right: 2rem;
}

.offer .container .row .col .item2 h4 {
  color: #f53626;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.offer .container .row .col .item2 h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.offer .container .row .col .item2 p {
  color: #696969;
  line-height: 1.8rem;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.offer .container .row .col .item2 .info .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.offer .container .row .col .item2 .info .text p {
  margin: 0;
  color: #000;
  font-weight: 600;
}

.offer .container .row .col .item2 .info .text i {
  color: #189a46;
  background: rgba(147, 107, 232, 0.05);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  margin-right: 15px;
}

.statistic {
  background-color: #189a46;
  padding: 3rem 0;
}

.statistic .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistic .container .row .col {
  width: 25%;
}

.statistic .container .row .col .item {
  text-align: center;
  color: #fff;
}

.statistic .container .row .col .item h1 {
  font-size: 3rem;
  margin-bottom: 0.8rem;
}

.carousel-breadcrumb {
  margin-top: 90px;
  background: url(../../img/About/banner4.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
}

.carousel-breadcrumb .container {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.carousel-breadcrumb .container ul {
  list-style-type: none;
  font-size: 20px;
}

.carousel-breadcrumb .container ul a {
  text-decoration: none;
  color: #189a46;
}

.carousel-breadcrumb .container .active {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
}

.carousel-breadcrumb::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: .6;
}
/*# sourceMappingURL=main.css.map */