
.about-us{
    .container{
        padding: 3rem 1.5rem;
        .row{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1.5rem ;
            margin-right: -15px;
            margin-left: -15px;
            .item-1{
                width: 40%;
                .sub-title{
                    font-size: 18px;
                    font-weight: 400;
                    text-transform: uppercase;
                    line-height: 2em;
                    letter-spacing: 1px;
                    color: $secondary-color;
                }
                h3{
                    font-size: 40px;
                    font-weight: 600;
                    line-height: 48px;
                    text-transform: capitalize;
                }
                h4{
                    font-size: 22px;
                    line-height: 32px;
                    opacity: 0.9;
                    padding-top: 20px;
                }

            }
           
            .item-2{
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 3rem;
                p{
                    color: $font-color;
                    line-height: 1.8rem;
                    margin-bottom: 20px;
                    font-size: 1.2rem;
                    font-family: 'Jost', sans-serif;
                }
                .links-hover{
                    font-size: 17px;
                    margin-top: 20px;
                    width: 13%;
                }

            }
            
        }
    }
}
.history{
    background: url(./../../img/About/banner2.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    .history::before{
        content: "";
        background-color: rgba(0, 4, 8, 0.69);
        position: absolute;
        top: 0;
        min-height: 100%;
        left: 0;
        right: 0;
        z-index: -1;
    }
    .container{
        padding:3rem 1.5rem;
        .content{
            margin-left: 550px;
            text-align: left;
            padding: 1.5rem 0;
            .sub-title{
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 2em;
                letter-spacing: 1px;
                color: $secondary-color;
            }
            h3{
                font-size: 40px;
                font-weight: 600;
                line-height: 48px;
                text-transform: capitalize;
                color: #fff;
            }
            p{
                color: #fff;
                opacity: 0.7;
                font-size: 1.2em;
                line-height: 28px;
                margin-top: 1rem;
            }
            .history-grids{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-gap: 40px;
                margin-top: 40px;
                h5{
                    color: #fff;
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 6px;
                }
            }
        }
    }
}
.reason{
    .reason-main{
        padding: 3rem 0;
        .container{
            padding: 3rem 1.5rem;
            .row{
                display: flex;
                padding: 1rem;
                margin-right: -15px;
                margin-left: -15px;
                .item-1{
                    width: 50%;
                    flex: 0 0 50%;
                    text-align: right;
                    padding-right: 1.5rem;
                    h6{
                        font-size: 18px;
                        font-weight: 400;
                        text-transform: uppercase;
                        line-height: 2em;
                        letter-spacing: 1px;
                        color: $secondary-color;
                        margin-bottom: 6px;
                    }
                    h3{
                        font-size: 40px;
                        font-weight: 600;
                        line-height: 48px;
                        text-transform: capitalize;
                    }
                    img{
                        max-width: 100%;
                        height: auto;
                        border-radius: 10px;
                        margin-top: 1rem;
                    }
                }
                .item-2{
                    padding-left: 1.5rem;
                    width: 50%;
                    flex: 0 0 50%;
                    .item-grids{
                        display: flex;
                        margin-right: -15px;
                        margin-left: -15px;
                        margin-bottom: 2.25rem;
                        .item-icon{
                            width: 20%;
                            color: $primary-color;
                            font-size: 44px;
                            padding:0 1rem;                         
                        }
                        .item-info{
                            a{
                                text-decoration: none;
                                text-align: left;
                                font-weight: 600;
                                font-size: 20px;
                                color: #0c0c0c;
                            }
                            a:hover{
                                color: $primary-color;
                            }
                            p{
                                margin-top: 0.5rem;
                            }
                            
                        }
                        
                    }
                    .item-4{
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}
.team{
    .team-main{
        padding: 3rem ;
        background-color: $bg-light;
        .container{
            padding: 1.5rem;
            .title-content{
                text-align: center;
            }
            .row{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                margin-top: 40px;
                grid-gap: 30px;
                max-width: 100%;
                .item-1{                 
                    .team-img{
                        position: relative;
                        overflow: hidden;
                        transition: all ease-in-out;
                        img{
                            width: 100%;
                            border-radius: 15px;
                            display: block;
                            transition: all 0.5s ease-out;
                        }
                    }                  
                    .team-name{
                        text-align: center;
                        position: relative;
                        overflow: hidden;
                        transition: all ease-in-out;
                        a{
                            text-decoration: none;
                            color: #000;
                            font-size: 22px;
                            line-height: 26px;
                            font-weight: 600;
                        }                       
                        p{
                            margin-top: -0.2rem;
                            font-size: 16px;
                        }
                        .social{
                            margin-top: 0.5rem;
                            a{
                                display: inline-block;
                                margin-right: 6px;
                                width: 30px;
                                height: 30px;
                                border-radius: 4px;
                                line-height: 30px;
                                text-align: center;
                                background: $bg-light;
                                color: $primary-color;
                                i{
                                    font-size: 12px;
                                    line-height: 30px;
                                    display: block;                         
                                }                         
                            }
                            .links:hover{
                                background: $primary-color;
                                .fa-brands:hover{
                                    color: #fff;
                                }
                            }
                            
                        }
                    }
                }
                .item-1:hover{
                    .img-team{
                        transform: scale(1.1);
                    }
                    .team-name{
                        .name{
                            color: $primary-color;
                        }
                        .social{
                            color: $primary-color;
                        }
                    }


                }
            }
        }
    }

}
@media screen and (max-width: 736px){
    .reason .reason-main {
        .container{
            .row{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                margin: 0;
                padding: 0;
                width: 100%;
                .item-1{
                    width: 100%;
                    text-align: left;
                }
                .item-2{
                    margin-top: 50px;
                    width: 100%;
                    position: relative;
                    padding-right: 15px;
                    padding-left: 15px;
                    .item-grids{
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        width: 100%;
                        .item-icon{
                            width: 100%;
                            margin-bottom: 14px;
                            text-align: center;
                        }
                        .item-info{
                            width: 100%;
                            text-align: center;
                        }

                    }
                }
            }
        }    
    } 
    .history .container .content .history-grids{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;

    }

}

@media screen and (max-width: $mobile-flip){
    .reason .reason-main {
        .container{
            .row{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                margin: 0;
                padding: 0;
                width: 100%;
                .item-1{
                    width: 100%;
                    text-align: left;
                }
                .item-2{
                    margin-top: 50px;
                    width: 100%;
                    position: relative;
                    padding-right: 15px;
                    padding-left: 15px;
                    .item-grids{
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        width: 100%;
                        .item-icon{
                            width: 100%;
                            margin-bottom: 14px;
                            text-align: center;
                        }

                    }
                }
            }
        }    
    } 
    .team .team-main{
        padding: 0;
        .container{
            .row{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 30px;
                .item-1 .team-name a{
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }

    }
    
}


@media screen and (max-width: $tablet){
    .about-us .container{
        width: 100%;
        .row{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin: 0;
            padding: 0;
            align-items: flex-start;      
            width: 100%;
            .item-1{
                width: 100%;
            }
            .item-2{
                padding: 0;
                width: 100%;
            }
        }    
    }
    .history .container .content{
        margin-left: auto;
        max-width: 640px;
        text-align: left;
    }
    .reason .reason-main {
        .container{
            .row{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                margin: 0;
                padding: 0;
                width: 100%;
                .item-1{
                    width: 100%;
                    text-align: left;
                }
                .item-2{
                    margin-top: 50px;
                    width: 100%;
                    position: relative;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
        }    
    } 
    .team .team-main{
        padding: 0;
        .container{
            .row{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 30px;
            }
        }

    }
    


}

